package ${package_name}.service;

import edu.development.common.base.BaseService;
import ${package_name}.model.${model};
import java.util.List;
import java.util.Map;
import net.sf.json.JSONArray;
import net.sf.json.JSONObject;

/**
* ${model}Service接口
* @author by dujianqiao on ${ctime}.
* @version 1.1
* <b>DATE:</b> ${ctime}.
*/
public interface ${model}Service extends BaseService<${model}> {


    /**
     * 列表
     * 
     * @param conditions
     * @return
     */
    List<Map<String, Object>> queryByConditions(JSONObject conditions);

    /**
     * 批量编辑
     * 
     * @param data
     * @return
     */
    boolean updateArray(JSONArray data);

    /**
     * 批量删除
     * 
     * @param data
     * @return
     */
    boolean deleteArray(JSONArray data);

    /**
     * 批量新增
     * 
     * @param data
     * @return
     */
    boolean addArray(JSONArray data);
}