<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.devlopment.cms.person.dao.mapper.PersonGangMapper">
  <resultMap id="BaseResultMap" type="edu.devlopment.cms.person.model.PersonGang">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="PERSON_ID" jdbcType="BIGINT" property="personId" />
    <result column="GANG_ID" jdbcType="BIGINT" property="gangId" />
    <result column="ISMAIN" jdbcType="INTEGER" property="ismain" />
    <result column="R_ID" jdbcType="BIGINT" property="rId" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PERSON_ID, GANG_ID, ISMAIN, R_ID
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from person_gang
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from person_gang
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="edu.devlopment.cms.person.model.PersonGang">
    insert into person_gang (ID, PERSON_ID, GANG_ID, 
      ISMAIN, R_ID)
    values (#{id,jdbcType=BIGINT}, #{personId,jdbcType=BIGINT}, #{gangId,jdbcType=BIGINT}, 
      #{ismain,jdbcType=INTEGER}, #{rId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="edu.devlopment.cms.person.model.PersonGang">
    insert into person_gang
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="personId != null">
        PERSON_ID,
      </if>
      <if test="gangId != null">
        GANG_ID,
      </if>
      <if test="ismain != null">
        ISMAIN,
      </if>
      <if test="rId != null">
        R_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="personId != null">
        #{personId,jdbcType=BIGINT},
      </if>
      <if test="gangId != null">
        #{gangId,jdbcType=BIGINT},
      </if>
      <if test="ismain != null">
        #{ismain,jdbcType=INTEGER},
      </if>
      <if test="rId != null">
        #{rId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.devlopment.cms.person.model.PersonGang">
    update person_gang
    <set>
      <if test="personId != null">
        PERSON_ID = #{personId,jdbcType=BIGINT},
      </if>
      <if test="gangId != null">
        GANG_ID = #{gangId,jdbcType=BIGINT},
      </if>
      <if test="ismain != null">
        ISMAIN = #{ismain,jdbcType=INTEGER},
      </if>
      <if test="rId != null">
        R_ID = #{rId,jdbcType=BIGINT},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.devlopment.cms.person.model.PersonGang">
    update person_gang
    set PERSON_ID = #{personId,jdbcType=BIGINT},
      GANG_ID = #{gangId,jdbcType=BIGINT},
      ISMAIN = #{ismain,jdbcType=INTEGER},
      R_ID = #{rId,jdbcType=BIGINT}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>