<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.devlopment.cms.person.dao.mapper.PersonLibraryMapper">
  <resultMap id="BaseResultMap" type="edu.devlopment.cms.person.model.PersonLibrary">
    <id column="ID" jdbcType="BIGINT" property="id" />
    <result column="PERSON_ID" jdbcType="BIGINT" property="personId" />
    <result column="LIBRARY_NUMBER" jdbcType="VARCHAR" property="libraryNumber" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, PERSON_ID, LIBRARY_NUMBER
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from person_library
    where ID = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from person_library
    where ID = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="edu.devlopment.cms.person.model.PersonLibrary">
    insert into person_library (ID, PERSON_ID, LIBRARY_NUMBER
      )
    values (#{id,jdbcType=BIGINT}, #{personId,jdbcType=BIGINT}, #{libraryNumber,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="edu.devlopment.cms.person.model.PersonLibrary">
    insert into person_library
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="personId != null">
        PERSON_ID,
      </if>
      <if test="libraryNumber != null">
        LIBRARY_NUMBER,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="personId != null">
        #{personId,jdbcType=BIGINT},
      </if>
      <if test="libraryNumber != null">
        #{libraryNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="edu.devlopment.cms.person.model.PersonLibrary">
    update person_library
    <set>
      <if test="personId != null">
        PERSON_ID = #{personId,jdbcType=BIGINT},
      </if>
      <if test="libraryNumber != null">
        LIBRARY_NUMBER = #{libraryNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="edu.devlopment.cms.person.model.PersonLibrary">
    update person_library
    set PERSON_ID = #{personId,jdbcType=BIGINT},
      LIBRARY_NUMBER = #{libraryNumber,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=BIGINT}
  </update>
</mapper>